@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  overflow: hidden;
}

section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #3e1142, #0d343f);
}

#map-image {
  width: 1000px;
  height: auto;
  top: 100px;
  left: 150px;
  position: absolute;
}

.card {
  width: 500px;
  height: 300px;
  position: relative;
  perspective: 500px;
  transform-style: preserve-3d;
}

.card .face {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: 1s;
  backdrop-filter: blur(7px);
  border-radius: 15px;
  box-shadow: 0 0 30px #0d0635be;
  background: #2f353854;
}

.bank-name {
  margin-top: 20px;
  margin-left: 30px;
  letter-spacing: 3px;
  font-weight: 900;
  font-size: 27px;
  color: #000000;
}

.debit {
  margin-top: 20px;
  right: 30px;
  position: absolute;
  font-weight: 700;
  font-size: 27px;
  letter-spacing: 2px;
  color: #000000;
}

.card img#logo {
  width: 130px;
  height: auto;
  top: 200px;
  right: 10px;
  position: absolute;
  display: flex;
}

.card .face.front::before {
  right: 40px;
  opacity: 0.5;
}

.card .face.front::after {
  right: 80px;
  opacity: 0.7;
}

.card .face.front .chip {
  width: 70px;
  height: 50px;
  top: 90px;
  left: 50px;
  position: absolute;
}

.card .face.front .card-number {
  bottom: 130px;
  left: 40px;
  top: 160px;
  position: absolute;
  font-weight: 700;
  font-size: 27px;
  letter-spacing: 4px;
  line-height: 30px;
  color: #000000;
  font-family: "Roboto", sans-serif;
}

.card .face.front .valid-date {
  bottom: 70px;
  left: 65px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: right;
  font-weight: 500;
  font-size: 17px;
  line-height: 15px;
  color: #000000;
}

.card .face.front .valid-date span:last-child {
  margin-left: 40px;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
}

.card .face.front .card-holder {
  bottom: 30px;
  left: 80px;
  position: absolute;
  font-size: 21px;
  font-weight: 900;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #000000;
}

.card:hover .face.front {
  transform: rotateY(180deg);
}

.card .face.back {
  transform: rotateY(180deg);
}

.card:hover .face.back {
  transform: rotateY(360deg);
}

.card .face.back .blackstrip {
  width: 100%;
  height: 65px;
  top: 40px;
  position: absolute;
  background: #000000;
}

.card .face.back .ccvtext {
  top: 120px;
  left: 30px;
  position: absolute;
}

.card .face.back .ccvtext h5 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 1px;
  color: #ffffff;
}

.card .face.back .ccvtext .whitestrip {
  width: 390px;
  height: 42px;
  margin-top: 5px;
  position: relative;
  background: #cbd0d1;
}

.card .face.back .ccvtext .ccv {
  width: 52px;
  height: 32px;
  left: 385px;
  top: -37px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  letter-spacing: 3px;
  background: #aaaeaf;
  color: #000000;
}

.card .face.back .text {
  left: 30px;
  right: 30px;
  bottom: 10px;
  position: absolute;
  line-height: 14px;
  font-weight: 300;
  color: #fff;
  font-size: 11px;
}
